.vs/
packages/
XamarinWorkTimer/bin/
XamarinWorkTimer/obj/
XamarinWorkTimer/XamarinWorkTimer/bin
XamarinWorkTimer/XamarinWorkTimer/obj
XamarinWorkTimer/XamarinWorkTimer.Droid/bin
XamarinWorkTimer/XamarinWorkTimer.Droid/obj

